body{ 
    margin: 0;
    padding: 0;
}
.navbar {
  display: flex;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 20px 0;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#main-logo {
    padding: 0 10px ;
}

.nav-items {
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;

}

#icon-part {
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

#icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

.sections {
    width: 100%;
    min-height: 100vh;
}


.hero {
    margin-top: 100px;
}